
@font-face {
  font-family: "Vesper-Bold";
  src: url(fonts/Vesper-Pro-Bold.ttf);
}

@font-face {
  font-family: "aktiv-grotesk";
  src: url(fonts/AktivGroteskCorp-Regular.ttf);
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: local('Aktiv Grotesk Light'), local('Aktiv-Grotesk-Light'),
  url('fonts/AktivGroteskCorp-Light.woff2') format('woff2'),
  url('fonts/AktivGroteskCorp-Light.woff') format('woff'),
  url('fonts/AktivGroteskCorp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: aktiv-grotesk, sans-serif;
  background: #ebebeb;
}

#app {
  height: 100%;
  overflow-x: hidden !important;
}

#app .animation {
  height: 100%;
  transform: scale(0.8);
}

.base {
  width: 46vw;
  margin-left: -29.5vw;
  margin-top: -23.5vw;
}

.base.layer-2 {
  z-index: 3;
  margin-top: 9.2vw;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ball {
  width: 8vw;
  margin-left: 10.3vw;
  margin-top: -1.15vw;
  z-index: 2;
  transform: rotate(1deg);
  opacity: 0;
}

.filter {
  width: 17.3vw;
  margin-left: -5.6vw;
  margin-top: -27.1vw;
  z-index: 3;
  opacity: 0;
}

.faucet {
  width: 24vw;
  margin-left: 9.85vw;
  margin-top: -28.2vw;
  z-index: 4;
  transform: rotate(1.8deg);
  opacity: 0;
}

.circle, .circle .ripple {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.circle {
  width: 2.7vw;
  height: 2.7vw;
  position: absolute;
  border-radius: 100px;
  z-index: 4;
}

.circle .ripple {
  position: absolute;
  width: 15vw;
  height: 15vw;
  z-index: -1;
  opacity: 0;
  margin: -6.2vw 0 0 -6.2vw;
  border-radius: 100%;
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 1.9s infinite
}

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.circle .ripple:nth-child(2) {
  animation-delay: .3s;
  -webkit-animation-delay: .3s
}

.circle .ripple:nth-child(3) {
  animation-delay: .6s;
  -webkit-animation-delay: .6s
}

.circle .ripple:nth-child(4) {
  animation-delay: .6s;
  -webkit-animation-delay: .6s
}

.hint {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  color: #363636;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.06em;
}

.hint .title {
  padding-bottom: 20px;
  font-family: "Vesper-Bold", sans-serif;
  color: black;
  font-size: 25px;
  margin-bottom: 0.2vw;
  line-height: 1.1em;
  letter-spacing: .04em;
}

.cartridge-hint .description,
.silicone-hose-hint .description,
.ball-hint .description,
.spout-hint .description {
  width: 80%;
}

.cartridge-hint {
  width: 1000px;
  margin-top: -6.5vw;
  margin-left: 9vw;
}

.cartridge-hint .circle {
  left: -8vw;
  top: 2vw;
}

.silicone-hose-hint {
  width: 500px;
  margin-left: -41vw;
}

.silicone-hose-hint .circle {
  left: 29.7vw;
  top: 13vw;
}

.ball-hint {
  width: 480px;
  margin-top: -0.5vw;
  margin-left: 19.2vw;
}

.ball-hint .circle {
  left: -9vw;
  top: 3.5vw;
}

.spout-hint {
  width: 500px;
  margin-top: -8vw;
  margin-left: 19.3vw;
}

.spout-hint .circle {
  left: -9.1vw;
  top: 1vw;
}

#app h2 {
  margin-top: -24vw;
  margin-left: -43vw;
  font-family: "Vesper-Bold";
  font-style: normal;
  font-size: 60px;
  line-height: 1.1em;
  letter-spacing: 0;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  z-index: 15;
  text-transform: none;
}

@media only screen and (max-width: 1919px) {
  .cartridge-hint {
    width: 515px;
    margin-top: -10.5vw;
    margin-left: 11vw;
  }

  .cartridge-hint .circle {
    top: 5vw;
    left: -10vw;
  }
}


@media only screen and (max-width: 1440px) {
  #app h2 {
    font-size: 3.6vw;
  }

  .hint {
    font-size: 1.10vw;
  }

  .hint .title {
    font-size: 1.575vw;
  }

  .cartridge-hint {
    width: 31vw;
    margin-top: -10vw;
  }

  .cartridge-hint .circle {
    top: 5vw;
  }

  .ball-hint {
    margin-top: 1vw;
  }

  .ball-hint .circle {
    top: 2vw;
  }

  .spout-hint .circle {
    top: 1.3vw;
  }
}

@media only screen and (max-width: 1366px) {
  .hint {
    font-size: 1.15vw;
  }

  .cartridge-hint {
    width: 32vw;
  }
}

@media only screen and (max-width: 1199px) {
  .hint {
    font-size: 1.25vw;
  }

  .hint .title {
    font-size: 1.8vw;
  }

  .cartridge-hint {
    width: 35vw;
  }
}

@media only screen and (max-width: 768px) {
  #app h2 {
    font-size: 36px;
    margin-left: -53vw;
    letter-spacing: -.01em
  }

  .hint .title {
    letter-spacing: .0384px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  #app .animation {
    margin-top: -3vw;
    transform: scale(1.5);
  }

  #app h2 {
    margin-left: -50vw;
    margin-top: -81vw;
    padding: 13.6px;
    width: 485px;
  }

  .hint {
    margin-top: 36vw;
    margin-left: -46vw;
    width: 98vw;
    font-size: 16px;
  }

  .hint .description {
    width: 95%;
  }

  .hint .title {
    font-size: 6.3vw;
    margin-bottom: 3vw;
    padding: 0;
    letter-spacing: .0384px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap;
  }

  .cartridge-hint {
    width: 385px;
  }

  .cartridge-hint .circle {
    left: 47.6vw;
    top: -48vw;
  }

  .silicone-hose-hint .circle {
    left: 24.3vw;
    top: -15vw;
  }

  .ball-hint .circle {
    left: 64.5vw;
    top: -33.5vw;
  }

  .spout-hint .circle {
    left: 65.1vw;
    top: -52vw;
  }

  .circle {
    width: 5.4vw;
    height: 5.4vw;
  }

  .circle .ripple {
    width: 30vw;
    height: 30vw;
    margin: -12.4vw 0 0 -12.4vw;
  }
}

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(.33);
    -moz-transform: scale(.33);
    -ms-transform: scale(.33);
    -o-transform: scale(.33);
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(.33);
    -moz-transform: scale(.33);
    -ms-transform: scale(.33);
    -o-transform: scale(.33);
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
}

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

.colored-version-5,
.colored-version-6,
.colored-version-7,
.colored-version-8 {
  width: 61.2vw;
  margin-left: -29.15vw;
  margin-top: -27.9vw;
  z-index: 14;
  opacity: 0;
}
